{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
<div class="jumbotron"style="background:#ecf9f2">
    <h1> Controller </h1>
    <h4> This page has the ability to change what's going on in the growing environment. Please don't submit any changes unless you are authorized. </h4>
    <h5> Humidity: The fan controlls the humidity, changing the value will adjust how the fan behaves </h5>
    <h5> Watering: Changing the water values changes the amount of time each row is watered in seconds for during each watering cycle. Also, changing the 
    frequency adjusts how often the watering takes place in seconds. Note, the effects of this adjustment only take place after the next watering 
    event occurs.</h5>
    <h5> Light ON/OFF: Change at which hour of the day the lights are turned on and off. Note, changing this takes at most 30 minutes to apply. </h5>
    
</div>
<div class="jumbotron"style="background:#ecf9f2">

    <form role="form" method="post">
    <legend> <h2> System Parameters </h2> </legend>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit password" class="btn btn-primary" onclick="return auth()">    
            {% bootstrap_icon "star" %} Submit
        </button>

    </form>

</div>

<SCRIPT>
function auth() {
    var password = "aeroponic";
    var usrpwd = prompt("Please enter the password","");

    if (usrpwd != password) {
        alert ("Wrong Password!");
        return false;
    }
    return true;


}
</SCRIPT>

{% endblock %}
