{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
<div class="jumbotron">
    <h1> Controller </h1>
    <h4> This page has the ability to change what's going on in the growing environment. Please don't submit any changes unless you are authorized. </h4>
    <h5> Humidity: The fan controlls the humidity, changing the value will adjust how the fan behaves </h5>
    <h5> Watering: Changing the water values changes the amount of time each row is watered for during each watering cycle </h5>
    
</div>
<div class="jumbotron">

    <form role="form" method="post">
    <legend> <h2> System Parameters </h2> </legend>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" onclick="return confirm('Wait a minute, are you sure youj want to change the conditions of the box')">
            {% bootstrap_icon "star" %} Submit
        </button>

    </form>

</div>
{% endblock %}
