{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>Trial #</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Plant Type</th>
                    <th>Water Regimen</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>3/20/2016</td>
                    <td>Present</td>
                    <td>Watercress</td>
                    <td>30-20-10</td>
                <tr>
            </tbody>
        </table>
    </div>
</div>
<div class="jumbotron">
    <h2> Specify a Timeframe </h2>
    <h4> (The default shows all data) </h4>
    <form method="post" role="form">
        {% for field in form.visible_fields %}
        <div id="div_{{ field.html_name }}" 
                        class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
            <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
            </div>
            <div class="help-block">
                    {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
                {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </form>
</div>


<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Temperature</h2>
                {{ line_chart1.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> The temperature in the box is measured near the surface of the plants. The box is insulated with corrugated plastic and acrylic and is often above room temperature because the LED lights radiate heat. However, if temperatures raise to high, the fan is triggered in order to maintain temperatures within a specified threshold.</h4>
            </div>
        </div>
    </div>
</div>
<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Humidity</h2>
                {{ line_chart2.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> The humidity of the box is measured near the surface of the plants. The humidity naturally raises when the misting system is activated. The fan turns on when high humidity levels are detected in order to maintain a lower relative humidity than would otherwise occur. Excessively dry conditions are not good for the plants health, and excess humidity can conribute to mold growth. </h4> 
           </div>
        </div>
    </div>
</div>
<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Light (photo resistor)</h2>
                {{ line_chart3.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> The photo-resistor that measures light intensity is located near the surface of the plants. The plants absorb direct light from the LED growth lights that are positioned 12" above the pots, as well as ambient light from the sun and room lighting that enters through the transparent walls. The system runs on an 18 hour cycle, which means that the plants receive 18 hours of light from the LEDs and 6 hours of darkness during the night. This cycle has been shown to be optimal for growth for greens like the ones that are being grown. The light cycle can be adapted for other types of plants (flowering, root vegetables).</h4>  
           </div>
        </div>
    </div>
</div>
<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Amout of Light in Lux (Infrared and Visable Light)</h2>
                {{ line_chart4.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> This light sensor varies from the photo-resistor monitor in that it is only capturing specific wavelengths of light. Plants absorb light at wavelengths from 400-700 nm. Our LED grow lights are designed to optimize plant growth and include blue lamps (440nm-460nm) and red lamps (630nm-660nm). The outputs displayed in this graph are more useful in seeing what amounts of light the plants are actually absorbing. Currently, the sensor is having trouble taking consistent readings, so, as you can see, the data is often 0.<h4>
           </div>
        </div>
    </div>
</div>
<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Average Total Amount of Water in Liters</h2>
                {{ line_chart5.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> This graph shows the total amount of water each of the three
                    rows is recieving from the aero misters. The rows are watered once every 4 hours, and each row recieves mist for a different amount of time. Using the line pressure and the flow rate of the nozzels, we calulated that each row outputs approximatly 0.008 liters per second. This is used to determine how much water in total the row has recieved. As you can see from the graph, the first row recieves the most while and the third row recieves the least amount of water. By comparing how the plants are growing on average between each row, we can optimize the water amount for the plants. </h4>
           </div>
        </div>
    </div>
</div>

{% endblock %}

