{% extends 'base.html' %}
{% block content %}
<div class="well">
    <h1> Specify a Timeframe </h1>
    <h4> (The default shows all data) </h4>
    <form method="post" role="form">
        {% for field in form.visible_fields %}
        <div id="div_{{ field.html_name }}" 
                        class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
            <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
            </div>
            <div class="help-block">
                    {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
                {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </form>
</div>
<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Temperature</h1>
                {{ line_chart1.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> The temperature in the box is measured near the surface of the plants. The box is insulated with corrugated plastic and acrylic and is often above room temperature because the LED lights dissipate heat. However, if temperatures raise to high, the fan is triggered in order to maintain temperatures within a specified threshold.</h4>
            </div>
        </div>
    </div>
</div>
<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Humidity</h1>
                {{ line_chart2.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> The humidity of the box is measured near the surface of the plants. The humidity naturally raises and lowers when the misting system is activated. It also is regulated using the fan in order to maintain a lower relative humidity than would otherwise occur. Too little or too much humidity is not good for the plants health. </h4> 
           </div>
        </div>
    </div>
</div>
<div id="line_chart" class="well">
    <div class "container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Light (photo resistor)</h1>
                {{ line_chart3.as_html }}
            </div>
            <div class="col-lg-3">
                <h2> About  </h2>
                <h4> The photo-resistor that measures light intensity is located near the surface of the plants. The plants use light from both the LED growth lights that are positioned just above the pots as well as ambient light from the sun and lights in the room that enter through the plastic walls. The plants run on an 18 hour cycle, which means that they receive 18 hours of light from the LEDs and 6 hours of darkness during the night. This cycle has been shown to be optimal for growth for greens like the ones that are being grown. On the other hand, a 12 hour cycle is optimal for flowering.</h4>  
           </div>
        </div>
    </div>
</div>
<div id="line_chart" class="well">
    <h2>Amout of Light in Lux (Infrared and Visable Light)</h2>
    {{ line_chart4.as_html }}
</div>{% endblock %}

